@charset "UTF-8";
@font-face{font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');font-weight: normal;font-style: normal;}
*{
  padding: 0;
  margin: 0;
  word-break: keep-all;
}
html,body{
  font-size: 12px;
  font-family: 'RIDIBatang';
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
  display: block;
}
img{
  vertical-align: bottom;
  width: 100%;
}
button{
  border: none;
  background-color: transparent ;
}
address{
  font-style: normal;
}
.align{
  max-width: 1300px;
  margin: auto;
  /* min-width: 900px; */
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

#wrap{
  width: 100%;
}
/* HEADER */
header{
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.7);
  z-index: 10;
  color: #fff;
}
header .align{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  /* 높이가 명시되어 있고, item들이 container보다 높이 작아야됨 */
}
header .logo{}
header .logo h1{}
header .logo h1 a{}
header .logo h1 a img{
  width: 100px;
}
header nav{}
header nav .mainmenu{
  display: flex;
}
header nav .mainmenu li{
  position: relative;
}
header nav .mainmenu > li > a{
  font-size: 1.6rem;
  padding: 0 1.6rem;
}
header nav .mainmenu > li:hover > a{
  font-weight: bold;
}
header nav .mainmenu .submenu{
  position: absolute;
  width: 500px;
  left: -50px;
  top: 50px;
  display: none;
}
header nav .mainmenu .submenu li{
  float: left;
  margin-left: 20px;
}
header nav .mainmenu .submenu li a{
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
}
header .search{
  border: 1px solid;
  position: relative;
}
header .search input{
  width: 140px;
  height: 30px;
  padding-left: 10px;
  border: none;
  background-color:#333;
  color: #fff;
}
header .search button{
  position: absolute;
  right: 10px;
  top: 2px;
}
header .search button img{
  width: 25px;
}
/*태블릿용 메뉴*/
.headerTabletMenu{
  display: none;     /* css본문에서 모두 세팅을 하고 pc버전에서는 보이지 않도록 처리 미디어 쿼리에서 display: block으로 바꿔줌 */
  border-top: 5px solid rgba(0,0,0,.5);
}
.headerTabletMenu span.tmclick{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  top: 2rem;
  right: 4rem;
  opacity:.7;
}
.headerTabletMenu span.tmclick:hover{
  opacity: 1;
}
.headerTabletMenu .tmport{
  position: fixed;
  /* 메뉴 전체 화면이 스크롤 움직임이나 화면 크기 변동에 상관없이 항상 전체 크기를 차지할 수 있도록 하기 위함 */
  background-color: rgba(0,0,0,.7);
  color: #fff;
  top: 80px;
  left: 0;
  height: 350px;
  right: 0;
  display: none;
}
.headerTabletMenu .tmport button{
  /* 실질적인 속성은 inline-block에 해당하는 태그이므로, 부모의 값을 상속받는 것이 극히 드물다 */
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.3rem;
  border-radius: 50%;
  position: absolute;
  right: 3.8rem;
  top: -58px;
  width: 25px;
  height: 25px;  
}
.headerTabletMenu .tmport button:hover{
  background: #fff;
  color: #000;
  cursor: pointer;
}
.headerTabletMenu .tmport ul{
  text-align: center;
  opacity: .8;
  margin: 0;
}
.headerTabletMenu .tmport ul li{}
.headerTabletMenu .tmport ul li a{
  font-size: 1.8rem;
  line-height: 70px;
}
.headerTabletMenu .tmport ul li a:hover{
  font-style: italic;
  font-weight: bold;
  opacity: 1;
}


/* MAIN */
main{}
main .mslide{}
main .mslide li{}
main .mslide li a{}
main .mslide li a img{

}

/* SECTION */
section{}
section #content1{
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
}
section #content1 .cont1text{
  text-align: center;
  width: 40%;
  padding: 1.5rem;
  line-height: 1.8;
}
section #content1 .cont1text h3{
  font-size: 2.3rem;
}
section #content1 .cont1text span{
  font-size: 0;
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: #000;
  margin: 2rem 0 3rem;
}
section #content1 .cont1text p{
  font-size: 1.3rem;
}
section #content1 .cont1img{
  width: 50%;
  position: relative;
  overflow: hidden;
}
section #content1 .cont1img .contBg{
  background-image: url("../img/banner.png");
  background-size: cover;
  width: 100%;
  height: 400px;
}
section #content1 .cont1img .conbgText{
  position: absolute;
  top: 320PX;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0,0,0,.5);
  text-align: center;
  color: #fff;
  transition: .3s;
}
section #content1 .cont1img:hover .conbgText{
  top: 0;
}
section #content1 .cont1img .conbgText img{
  width: 30px;
  padding: 1.2rem 0 1.3rem;
}
section #content1 .cont1img .conbgText h4{
  font-size: 1.5rem;
}
section #content1 .cont1img .conbgText h3{
  font-size: 2rem;
}
section #content1 .cont1img .conbgText span{
  font-size: 0;
  display: inline-block;
  width: 1px;
  height: 70px;
  background-color: #fff;
  transform: rotate(30deg);
  margin: 1rem 0;
}
section #content1 .cont1img .conbgText:hover span{
  /* transform: rotate(30deg); */
}
section #content1 .cont1img .conbgText p{
  font-size: 1.2rem;
  color: #ccc;
}
section #content1 .cont1img .conbgText button{
  display: inline-block;
  font-family: 'RIDIBatang';
  color: #fff;
  border: 1px solid;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  margin-top: 2.5rem;
}
section #content2{
  margin-top: 3rem;
  text-align: center;
}
section #content2 h2{
  font-size: 2.5rem;
  letter-spacing: 2px;
}
section #content2 > span{
  display: inline-block;
  width: 1px;
  height: 70px;
  background-color: #aaa;
  margin: 2rem 0;
}
section #content2 ul{
  display: flex;
  justify-content: space-between;
}
section #content2 ul li{
  width: 25%;
}
section #content2 ul li a{}
section #content2 ul li a img{
  width: 50%;
}
section #content2 ul li a span{
 display: block;
 font-size: 1.4rem;
 margin-top: 2rem;
 opacity: .8; 
}
section #content2 ul li a:hover img{
  transform:scale(1.1);
}
section #content2 ul li a:hover span{
  opacity: 1;
}
section #content3{
  padding: 6rem 0;
}
section #content3 h2{
  font-size: 1.6rem;
}
section #content3 ul.bxcover{}
section #content3 ul.bxcover li{
  position: relative;
  width: 300px;
  height: 100%;
  text-align: center;
}
section #content3 ul.bxcover li a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
section #content3 ul.bxcover li .bximgbox{
  overflow: hidden;
}
section #content3 ul.bxcover li .bximgbox img{
  /* width: 100%; */
}
section #content3 ul.bxcover li:hover .bximgbox img{
  transform: scale(1.2);
}
section #content3 ul.bxcover li .bxtextbox{}
section #content3 ul.bxcover li .bxtextbox .bxt1{
  font-size: 1.3rem;
  padding-top: 5px;
}
section #content3 ul.bxcover li .bxtextbox .bxt2{
  margin: 0.3rem 0;
}
section #content3 ul.bxcover li .bxtextbox .bxt3{
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 15px;
}
section #content3 ul.bxcover li .bxtextbox .bxt3::after{
  display: block;
  content:'';
  width: 0px;
  opacity: 0;
  height: 10px;
  background-color: rgb(255,255,0);
  margin: auto;
  transition: .3s;
}
section #content3 ul.bxcover li:hover .bxtextbox .bxt3::after{
  width: 100px;
  opacity: 1;
}
section #content3 .morebtn{
  text-align: center;
}
section #content3 .morebtn a{
  display: inline-block;
  font-size: 1.3rem;
  border: 1px solid #333;
  padding: 1.5rem 2.5rem;
  letter-spacing: 2px;
}
section #content3 .morebtn a:hover{
  background-color: #333;
  color: #fff;
}
section #content4{
  background: url("../img/bannerbg.png") center;
  height: 300px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section #content4 h3{
  font-size: 4rem;
  font-style: normal;
  letter-spacing: 12px;
}
section #content4 p{
  margin: .5rem 0 3.5rem;
  font-size: 1.4rem;
  color: #ddd;
}
section #content4 a{
  display: block;
  width: 150px;
  border: 1px solid;
  font-size: 1.3rem;
  padding: 1.5rem 2.5rem;
  letter-spacing: 2px;
  margin: 0 auto;
}

/* FOOTER */
footer{
  background-color: #111;
  color: #ccc;
  padding: 2rem 0;
}
footer .align{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
footer .footerLogo{
  flex-grow: 1;
}
footer .footerLogo h2{}
footer .footerLogo h2 a{}
footer .footerLogo h2 a img{
  width: 100px;
}
footer .footerInfo{}
footer .footerInfo h4{
  font-size: 1.8rem;
}
footer .info1{}
footer .info1 i{}
footer .info1 p{}
footer .info2{}
footer .info2 address{}

button.topbtn{
  position: fixed;
  color: #fff;
  background-color: #333;
  bottom: 2rem;
  right: 2rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 2rem;
  line-height: .7;
  cursor: pointer;
  opacity: .8;
  display: none;
  transition: .3;
}
button.topbtn:hover{
  opacity: 1;
}
/* 태블릿용 화면 미디어 쿼리 */
@media screen and (max-width:768px){
  header .search, header nav{    
    display: none;  
  }
  header .logo{
    text-align: center;
    width: 100%;    
    padding: 0 0 5px 0;
  }
  .headerTabletMenu {    
    display: block;     
  }
  .headerTabletMenu .tmclick{    
    display: block;  
  }
  section #content1{
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
    width: 80%;
    margin: 30px auto 60px;
    padding: 0;
  }
  section #content1 .cont1text{
    margin-bottom: 1rem;   
    width: 100%;
  } 
  section #content1 .cont1img{
    width: 100%; 
  }
  section #content2 ul{ 
    flex-wrap: wrap;      
  }
  section #content2 ul li{  
    width: 45%;    
    padding: 10px;  
  }
  section #content3{    padding:6rem 3rem;  
  }
  section #content4 p{
    width: 80%;
    margin: 20px auto 50px;
  }
  footer .align{
    flex-direction: column;    justify-content: center;
    align-items: center;    text-align: center;
  }
  footer .footerInfo{
    display: none;
  }
}